@model BookMyShow.ViewModels.CustomerFormViewModel
@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Title</h2>

@using (Html.BeginForm("Create", "Customers"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.Name)
        @Html.TextBoxFor(m => m.Customer.Name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.BirthDate)
        @Html.TextBoxFor(m => m.Customer.BirthDate, "{0:d MMM yyyy}", new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Customer.MembershipTypeId)
        @Html.DropDownListFor(m => m.Customer.MembershipTypeId, 
       new SelectList(Model.MembershipTypes, "Id", "Description"),
       "Select Membership Type", new { @class = "form-control" })
    </div>

    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.Customer.IsSubscribedToNewsletter)
            Subscribe To Newsletter?
        </label>

    </div>
    //hidden fields
    @Html.HiddenFor(m => m.Customer.Id)
    <div class="form-group">
        <div class="col-md">
            <input type="submit" value="Save" class="btn btn-success"/>
        </div>
    </div>
    <div class="form-group">
        @Html.ActionLink("Back To Customers","Index",null, new {@class = "btn btn-primary"})
    </div>
}